.bloque-content5 {
	height: 37rem;
	background: #f7f7f7;
	.content-img {
		background-size: cover;
		background-position: center;
		height: 100%; 
	}
	.content-info {
		height: 100%;
		position: relative;
		select {
			display: none;
		}
		.bootstrap-select {
			position: absolute;
			top: 2rem;
			right: 3rem;
			@media screen and (max-width: $anchoMobile) {
				position: relative;
				right: auto;
				margin-bottom: 3rem;
				width: 90% !important;
				margin-left: 5%;
			}
			button {
				border-radius: 0;
				border-color: #919191;
				color: #919191;
				font-family: $umalight;
				font-size: 1rem;
				outline: 0;
				&:hover, &:focus {
					outline: 0 !important;
				}
			}
			.dropdown-menu  {
				border-radius: 0;
				border-color: #919191;
				ul {
					li {
						a {
							color: #919191;
							font-family: $umalight;
							font-size: 1rem;
						}
					}
				}
			}
		}
		.box {
			position: relative;
			top: 50%;
			-ms-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			max-width: 35rem;
			padding: 0 3rem;
			h3 {
				margin-bottom: 1rem;
				padding-bottom: 1rem;
				position: relative;
				margin-top: 0rem;
				color: $amarillo;
			}
			h2 {
				margin-bottom: 0rem;
			}
			p {
				margin-bottom: 1rem;
			}
			a {
				font-size: 1rem;
			}
			@media screen and (max-width: $anchoTablet) {
				padding: 0 1.8rem;
			}
			@media screen and (max-width: $anchoMobile) {
				width: 100%;
				max-width: none;
			}
		}
	}
	&.right {
		.content-img, .box {
			float: right;
		}
	}
	&.flexslider {
		ul {
			height: 100%;
			li {
				height: 100%;
			}
		}
		.flex-control-nav {
			display: none;
			@media screen and (max-width: $anchoMobile) {
				display: block;
			}
		}
		.flex-direction-nav {
			position: absolute;
			z-index: 2;
			bottom: 2rem;
			left: 1rem;
			height: auto;
			li {
				position: relative;
				float: left;
				a {
					position: relative;
					right: auto !important;
					left: auto !important;
					width: 55px;
					&:hover {
						opacity: 0.5 !important;
					}
				}
			}
			a.flex-prev {
				background: url('../img/arrow-prev.png') no-repeat center;
			}
			a.flex-next {
				background: url('../img/arrow-next.png') no-repeat center;
			}
			@media screen and (max-width: $anchoDesktop) {
				transform: scale(0.8);
				left: 0rem;
			}
			@media screen and (max-width: $anchoTablet) {
				transform: scale(0.5);
				left: -1.5rem;
			}
		}
	}
	@media (max-width: $anchoMobile) {
		height: auto;
		.content-img {
			height: 22rem;
		}
		.content-info {
			height: auto;
			padding: 2rem 0;
			.box {
				top: auto;
				-ms-transform: none;
				-webkit-transform: none;
				transform: none;
				h4 {
					margin-bottom: 2rem;
				}
			}
		}
	}
	.info-resorts {
		display: none;
	}
}

.front {
	.bloque-content3 {
		border: solid 1px $amarillo;
		border-left: none;
		border-right: none;
		background: none;
		height: 38rem;
		h2 {
			margin-bottom: 0 !important;
		}
		a {
			margin-top: 1rem !important;
		}
		@media screen and (max-width: $anchoTablet) {
			height: auto;
		}
	}	
}