.bloque-user {
	.imagen {
		width: 260px;
		height: 260px;
		display: inline-block;
		margin-bottom: 2rem;
		margin-top: -8rem;
		img {
			width: 100%;
		}
		@media screen and (max-width: $anchoDesktop) {
			width: 220px;
			height: 220px;
		}
		@media screen and (max-width: $anchoTablet) {
			width: 160px;
			height: 160px;
		}
		@media screen and (max-width: $anchoMobile) {
			width: 260px;
			height: 260px;
		}
	}
	.box {
		padding: 0 1.5rem;
	}
	.user {
		text-align: center;
		background: #f6f6f6;
		padding: 1.5rem;
		padding-top: 0;
		margin-top: 8rem;
		margin-bottom: 3rem;
		.name {
			font-weight: 400;
			margin-top: 2rem;
			font-size: 1.1rem;
		}
		.tel {
			margin-bottom: 2rem;
		}
		.meet {
			color: $amarillo;
			text-transform: uppercase;
			font-weight: bold;
			transition: 0.3s;
			&:hover {
				color: $cafe;
			}
		}
	}
	.row {
		&:first-child {
			text-align: center;
			> .box {
				display: inline-block;
				float: none;
			}
		}
	}
}