.bloque-content7 {
	h2 {
		text-align: center;
	}
	.row {
		margin-bottom: 2rem;
		&:first-child {
			padding: 0 5rem;
			@media screen and (max-width: $anchoTablet) {
				padding: 0;
			}
			p {
				text-align: center;
			}
		}
	}
	img {
		margin-bottom: 2rem;
	}
}