@font-face {
	font-family: 'umalight';
	src: url("../fonts/umalight-webfont.eot");
	src: url("../fonts/umalight-webfont.woff2") format("woff2"), url("../fonts/umalight-webfont.woff") format("woff"), url("../fonts/umalight-webfont.ttf") format("truetype"), url("../fonts/umalight-webfont.svg#umalight-webfont") format("svg"), url("../fonts/umalight-webfont.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal;
}
